

/*
ID 1370
Rough Borders
Author: Y. Kollega
Rebuild: Jan 2010
*/






/*  Layout
----------------------------------------------- */


div#cc-tp-padding-container { 
	position: relative;
	padding:0px 0px;
	text-align:center;
}


div#cc-tp-container {
	width:899px;
	margin:0 auto; 
	text-align:left;
}


div#cc-tp-header {
	width:899px;
	margin:30px 0 26px 0;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/header-bg.gif) no-repeat 0 0;
}


div#cc-tp-header div.cc-tp-gutter {	padding:25px; }


div#cc-tp-wrapper {
	float:left;
	width:238px;
}

div#cc-tp-navigation div.cc-tp-gutter {
	padding:10px 20px 10px 20px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-bg.gif) repeat-y 0 0;
}


div#cc-tp-nav-top {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-top.gif) no-repeat left top;			
}


div#cc-tp-nav-btm {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-bottom.gif) no-repeat left top;			
}


div#cc-tp-sidebar { margin-top:20px; }


div#cc-tp-sidebar-top {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-top.gif) no-repeat left top;
}


div#cc-tp-sidebar-btm {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-bottom.gif) no-repeat left top;
}


div#cc-tp-sidebar div.cc-tp-gutter {
	padding:10px 20px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/side-bg.gif) repeat-y 0 0;
}


div#cc-tp-content {
	float:right;
	width:643px;
}


div#cc-tp-content-top {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/content-top.gif) no-repeat left top;
}


div#cc-tp-content-btm {
	width:100%;
	height:19px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/content-bottom.gif) no-repeat left top;
}


div#cc-tp-content div.cc-tp-gutter { 
	padding:10px 40px 30px 40px;
	background:url(https://u.jimcdn.com/cms/o/layout/l18102fdb581481be/img/content-bg.gif) repeat-y 0 0;
}







/*  Navigation
----------------------------------------------- */


ul.mainNav1,
ul.mainNav2,
ul.mainNav3 {
	text-align:left;
	margin:0;
	padding:0;
}


ul.mainNav1 li,
ul.mainNav2 li,
ul.mainNav3 li {
	display:inline;
	margin:0;	
	padding:0;
}


ul.mainNav1 li a, ul.mainNav1 li a:visited,
ul.mainNav2 li a, ul.mainNav2 li a:visited,
ul.mainNav3 li a, ul.mainNav3 li a:visited {
	display:block;
	border-bottom:1px solid #CCC;
	text-decoration:none;
	color:#333;
}


ul.mainNav1 li a, ul.mainNav1 li a:visited { padding:5px 4px 5px 15px; }
ul.mainNav2 li a, ul.mainNav2 li a:visited { padding:4px 3px 4px 23px; }
ul.mainNav3 li a, ul.mainNav3 li a:visited { padding:4px 3px 4px 31px; }


ul.mainNav1 li a:hover,
ul.mainNav2 li a:hover,
ul.mainNav3 li a:hover {
	background:#EEE;
	color:black;
}


ul.mainNav1 li a.current, ul.mainNav1 li a.current:visited,
ul.mainNav1 li a.parent,  ul.mainNav1 li a.parent:visited,
ul.mainNav2 li a.current, ul.mainNav2 li a.current:visited,
ul.mainNav2 li a.parent,  ul.mainNav2 li a.parent:visited,
ul.mainNav3 li a.current, ul.mainNav3 li a.current:visited { 
	background:#EEE;
	color:black;
	font-weight:bold;
}

