/* local.css für kinkies.de */

body, html {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

h2 {
    padding-top: 25px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
